/* prevent 'bounce' in scrolling */
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: #888888;
    background-color: #060606;
}

.hidden {
    display: none;
}

.modal-content {
    background-color: #202020;
}

.btn-group {
	background: #424242;
	width:100%;
	margin:0px;
	z-index: 99;
}

.btn-default {
  color: #ffffff;
  background-color: #424242;
  border-color: #424242;
  margin-left:0px;
}

.btn-active, .btn-inverse, .btn-fullscreen {
	color: #424242;
	background: #ffffff;
/*	background-color: #7a0019;*/
}

@media (max-width: 480px) {
  .btn-responsive {
	width: calc(100% / 11);
	padding:0px;
    font-size:70%;
    line-height: 2;
  }
}

@media (min-width:481px) and (max-width: 767px) {
  .btn-responsive {
	width: calc(100% / 11);
	padding:0px;
    font-size:80%;
    line-height: 3;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .btn-responsive {
    width: calc(100% / 14);
	padding:0px;
    font-size:90%;
    line-height: 3.5;
  }
}

/* images are displayed in viewports */
.viewport {
    width:100%;
    height:100%;
    top:0px;
}

.overlay {
    position: absolute;
    color: #e4ad00;
}

.imageViewer {
	height:100%;
}

.myNav {
    margin: 0;
    border:0;
}

.viewportWrapper {
    box-sizing: border-box;
    border: 0px solid #777;
}

.viewportWrapper:focus, .viewport:focus {
	outline: none;
}

.renderTime {}
.fps {}

.csthumbnail {
    color: white;
    background-color:black;
    width:100px;
    height:100px;
    border: 0px;
    padding: 0px;
}

#viewer {
    float: left;
	box-sizing: border-box;*/
	height: 100% !important;
}

.thumbnailSelector {
    width:106px;
    float:left;
    margin-left:0px;
    height: 100%;
	overflow: auto;
	
}
body, html {height:100%}

#wrap {height:100%}

.studyContainer {
	background: black;
    margin-top: 2px;
    margin-left:0px;
    margin-right:0px;
    padding: 0px;
}

.container {
}

.navbar-default {
  background-color: #060606;
  border-color: #000000;
}

.thumbnails {
    margin:0px;
    margin-bottom: 0px;
    overflow-y:auto;
    overflow-x:hidden;
	
}

.list-group-item, .list-group, .thumbnailSelector, div.thumbnails.list-group {

}

.center {
  position: relative;
  transform: translateY(-15%);
}

.table {
  border-collapse: collapse;
  border-color: gray;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 4px;
    border: 1px solid #282828;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #202020;
}

.studyRow {
    margin-left: 0px;
    margin-right: 0px;
    height:100%;
}
.row {
    margin:0;
}

a.list-group-item {
    background-color: black;
    padding: 2px;
    border: 1px solid #424242;
    z-index: 5;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #424242;
    border-color: #4e4e4e;
}

.nav-tabs {
  border-bottom: 1px solid #424242;
}

.nav-tabs>li>a {
    background-color: #202020;
    border-color: #424242;
    color: #424242;
    padding: 3px 10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #424242;
    border-color: #424242;
    color: #ffffff;
    padding: 3px 10px;
}

.dropdown-menu {
  min-width: 40px;
}

.fullscreen-style {
	width: 100% !important;
	overflow: visible !important;
	height: auto !important;
}

@media only screen and (max-width: 767px) {
    nav.navbar {
		min-height: 0px;
        height:0px;
    }
}

.arrows {
    padding: 15px 20px;
    font-size: 30px;
    border-radius: 10px;
	border-color: transparent;
	
}